@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Quicksand', sans-serif;
}
.logo{
    height: 20vh;
}
.topHeader{
    color: white;
}
.oneTag{
    font-weight: 600;
    background-color: #ff8100;
    border-radius: 10px;
}
.oneTag:hover{
    background-color: #cc5c00;
    cursor: pointer;
}

.readMoreBtn:hover{
    color: rgba(255, 255, 255, 0.596)!important;
    cursor: pointer;
}

:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }
  
  body {
    background: azure !important;
  }
  .card-subtitle{
    color: white;
    font-size: 14px;
  }
  .card-title{
    font-size: 25px;
    font-weight: bold;
  }
  .card {
    background: #ff8100;
    border: 1px solid #dd2476;
    color: white;
    margin-bottom: 2rem;
  }
  .card:hover{
    cursor: pointer;
    -webkit-box-shadow: -7px 10px 20px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 10px 20px -3px rgba(0,0,0,0.75);
box-shadow: -7px 10px 20px -3px rgba(0,0,0,0.75);
transition: 0.3s ease-in-out;
  }
  
  .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: black;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
  }
  
  .btn:hover, .btn:focus {
        background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
  }












    