  body{
    background-color: azure;
  }.navbar{
    position: fixed;
    z-index: 3;
    background-color: #FF8100 !important;
  }
  .navbar .link{
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  .navbar-brand{
    width: 230px;
    margin-top: -43px;
    margin-bottom: -45px;
  }
  .navbar .link:hover {
    color: black;
  }
  
  footer{
    background-color: #FF8100;
  }
  .titulli{
  color:black;
  font-style: italic;
  font-weight: bold;
}
.paragraph{
  font-size: 17px;
  line-height: 1.375;
}
